.venv/
.github/
.git/
.dockerignore
Dockerfile
docker-compose*
compose.yml
.env
.gitignore
.gitattributes
LICENSE
README.md
example.env
SECURITY.md
tests/
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md