---
    name: Codespell
    
    on:  # yamllint disable-line rule:truthy
      pull_request:
        branches: [main]
    
    permissions:
      contents: read
    
    jobs:
      codespell:
        name: Check for spelling errors
        runs-on: ubuntu-latest
    
        steps:
          - name: Checkout
            uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
          - name: Codespell
            uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630 # v2.1