---
    name: Codespell
    
    on:  # yamllint disable-line rule:truthy
      pull_request:
        branches: [main]
    
    permissions:
      contents: read
    
    jobs:
      codespell:
        name: Check for spelling errors
        runs-on: ubuntu-latest
    
        steps:
          - name: Checkout
            uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.3.1
          - name: Codespell
            uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2